.scoreCtn {
  display: flex;
  justify-content: space-between;
}
.score {
  width: 200px;
  background-color: white;
  margin-bottom: 10px;
}

.score h3 {
  margin-top: 0;
  padding: 15px 0;
  background-color: #181848;
  color: white;
}

.results {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
  height: 200px;
}

.playerHand,
.computerHand {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: white;
  width: 200px;
  height: 200px;
  border-radius: 5px;
  /* position: relative; */
}

.midCol {
  margin-bottom: 150px;
  color: white;
  width: 400px;
}

.timer {
  font-size: 120px;
  background: linear-gradient(45deg, #fd3359, #f4d302, #21bdff);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  animation: timerAnimation 3s infinite ease-in-out;
}

.resultWinner {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 20px;
}
.resultMessage {
  font-size: 15px;
}

.computerAnimation {
  animation: computerTransform 0.8s ease-in-out infinite;
}

.playerAnimation {
  animation: playerTransform 0.8s ease-in-out infinite;
  /* animation-delay: 0.01s; */
}

.winnerAnimation {
  animation: winner 2s ease-in-out;
}

@keyframes winner {
  30% {
    transform: scale(1.2);
  }
  40%,
  60% {
    transform: rotate(-20deg) scale(1.1);
  }
  50% {
    transform: rotate(20deg) scale(1.1);
  }
  70% {
    transform: rotate(0deg) scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes computerTransform {
  0%,
  100% {
    transform: scaleY(-1) rotate(-80deg);
  }
  50% {
    transform: scaleY(-1) rotate(-100deg);
  }
}
@keyframes playerTransform {
  0%,
  100% {
    transform: rotate(100deg);
  }
  50% {
    transform: rotate(80deg);
  }
}
